<div class='container'>
  <section class="p-5 text-center text-sm-start">
    <div class='d-sm-flex align-items-center justify-content-between'>
      <%= image_tag ("/assets/admin_image.png"), class: "img-fluid w-50 d-none d-sm-block" %>
      <div class="p-5">
        <h2><span>Help students build their future!</span></h2>
        <ul>
          <li class="fs-3">Create Job Cards</li>
          <li class="fs-3">Monitor student’s application status</li>
          <li class="fs-3">View student’s portfolio</li>
          <li class="fs-3">Promote an account to admin access</li>
        </ul>
      </div>
    </div>
  </section>
</div>
