<div class='container'>
  <section class="p-5 text-center text-sm-start">
    <div class='d-sm-flex align-items-center justify-content-between'>
      <%= image_tag ("/assets/student_image.png"), class: "img-fluid w-50 d-none d-sm-block" %>
      <div class="p-5">
        <h2><span>You are one-step closer to your dream job!</span></h2>
        <ul>
          <li class="fs-4">Create your Portfolio</li>
          <li class="fs-4">Add those hard-worked projects to your Portfolio</li>
          <li class="fs-4">Add features to your projects so employers will know</li>
          <li class="fs-4">View and share your Portfolio</li>
        </ul>
        <h2><span>Go get that dream job!</span></h2>
      </div>
    </div>
  </section>
</div>
