<div class="container">

    <p class="float-end mb-1">
        <a href="#">T</a>
    </p>

    <p class="mb-1">
        Footer
    </p>

    <p class="mb-0">

        <a href="/">
            Footer Link 1
        </a>

        <a href="/docs/5.0/getting-started/introduction/ ">
            Footer Link 2
        </a>

    </p>

</div>
