<div class="container d-flex justify-content-between">
  <span class="footer-content text-muted">
    Created by: 
    <a href = '#'>Mervyl Canlas,</a>
    <a href = '#'>Merryl Canlas,</a>
    <a href = '#'>and Johan Buena</a>
  </span>
  <span>
    <b><i>This website is under development</i></b>
  </span>
  <span>
    Avion School Batch 7 - Final Project
    &copy;2021
  </span>
</div>
<style>
  .footer-content a{
      text-decoration: inherit;
      color: black;
  }
</style>
